.trainers {
   &__container {
   }

   &__content {
      display: flex;
      align-items: center;
   position: relative;
   margin-bottom: 200px;
   }

   &__text {
      display: flex;
      max-width: 510px;
      margin-right: 89px;
      flex-direction: column;
   }

   &__title {
      margin-bottom: 100px;
   }

   &__about {
      &>*:not(:last-child){
         margin-bottom: 30px;
      }
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.6px;

      color: #242121;
   }

   &__img {
      
   }
}