.home {

   &__container {
      display: flex;
      flex-direction: column;
   }

   &__content {
      text-align: center;
      padding: 243px 0 93px 0;
      z-index: 1;
   }

   &__title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 200px;
      line-height: 235px;
      letter-spacing: 0.6px;
      color: #0D302C;
   }

   &__subtitle {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      margin-bottom: 315px;
   }

   &__icon {
   }
}