<section class="page__about" id="about">
   <div class="about__container _container">
      <div class="about__content">
         <div class="about__title">
            <h3 class="title">О ШКОЛЕ, О СЕРФИНГЕ, О КАНАРАХ</h3>
         </div>
         <div class="about__grid">
            <p class="about__item">Канарские острова не случайно называют европейскими Гавайями – это идеальное место
               для поклонников серфинга: стабильный теплый ветер круглый год, песчаные пляжи, километры нетронутых
               просторов и прозрачное море. А настоящей Меккой для серфингистов становится Фуэртевентура – второй по
               величине остров архипелага.</p>
            <p class="about__item">Пока что вы только хотите понять, что такое серфинг, или уже испытали всю прелесть
               катания на волнах, но желаете поднять свой уровень? Наша школа серфинга сможет предложить обучение для
               любого уровня подготовки.
            </p>
            <p class="about__item">Именно здесь лучшее в Испании место, в котором можно пройти обучение серфингу. Кроме
               того, что зимой и осенью сюда приходят огромные атлантические волны, Фуэртевентура может похвастать и
               множеством мелководных спокойных лагун, отлично подходящих для обучения начинающих серфингистов.</p>
            <p class="about__item">Четыре часа увлекательных занятий в день помогут вам уверенно покорять волны,
               почувствовать себя настоящим серфингистом.</p>
            <p class="about__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut fugit sapiente tempore
               esse quaerat facere, dolorum cupiditate? Atque commodi suscipit incidunt, reiciendis, eveniet quo sequi
               delectus totam itaque est cumque!</p>
            <p class="about__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut fugit sapiente tempore
               esse quaerat facere, dolorum cupiditate? Atque commodi suscipit incidunt, reiciendis, eveniet quo sequi
               delectus totam itaque est cumque!</p>
         </div>
      </div>
   </div>
</section>