<section class="page__advantages" id="advantages">
   <div class="advantages__container _container">
      <div class="advantages__content">
         <div class="advantages__title">
            <h3 class="title">В ШКОЛЕ ВЫ ПОЛУЧИТЕ</h3>
         </div>
         <div class="advantages__grid">
            <article class="advantages__item">
               <div class="advItem__title">
                  <img src="../../img/advantages/3.svg" alt="" class="advItem__img">
                  <h6 class="advItem__subTitle">
                     ПРОЖИВАНИЕ
                  </h6>
               </div>
               <div class="advItem__about">Наша школа серфинга находится в 100 м от океанского побережья. К услугам
                  гостей открытый бассейн и бесплатный Wi-Fi. Из верхней террасы открывается вид на океан. Расстояние до
                  центра города 15 мин. </div>
            </article>
            <article class="advantages__item">
               <div class="advItem__title">
                  <img src="../../img/advantages/2.svg" alt="" class="advItem__img">
                  <h6 class="advItem__subTitle">
                     ПЕРЕЛЕТ И <br>
                     СТРАХОВКУ
                  </h6>
               </div>
               <div class="advItem__about">Все участники программы застрахованы страховой компанией Allianz.
                  Перелет из Тенерифе до острова Лансароте и обратно входит в стоимость программы</div>
            </article>
            <article class="advantages__item">
               <div class="advItem__title">
                  <img src="../../img/advantages/1.svg" alt="" class="advItem__img">
                  <h6 class="advItem__subTitle">
                     ОБУЧЕНИЕ И<br>
                     ЭКИПИРОВКУ
                  </h6>
               </div>
               <div class="advItem__about">Все оборудование и экипировка известных производителей и предоставляется на
                  весь курс программы. Тренировочный процесс начинается с определения вашего уровня катания </div>
            </article>
         </div>
         <div class="advantages__methods">
            <div class="advantages__stats">
               <article class="advStats__item">
                  <div class="advStats__stats">
                     <img src="../../img/advantages/4.svg" alt="" class="advStats__img image">
                     <div class="advStats__text">Приехали второй раз</div>
                  </div>
                  <div class="advStats__perсent">85%</div>
               </article>
               <article class="advStats__item">
                  <div class="advStats__stats">
                     <img src="../../img/advantages/5.svg" alt="" class="advStats__img image">
                     <div class="advStats__text">Научились кататься</div>
                  </div>
                  <div class="advStats__perсent">95%</div>
               </article>
               <article class="advStats__item">
                  <div class="advStats__stats">
                     <img src="../../img/advantages/6.svg" alt="" class="advStats__img image">
                     <div class="advStats__text">Довольных клиентов</div>
                  </div>
                  <div class="advStats__perсent">99%</div>
               </article>
            </div>
            <div class="advantages__text">
               <p class="advantages__about">Огромным преимуществом нашей школы является собственная методика обучения.
                  Мы разработали собственный стиль обучения серфингу, который позволяет новичкам максимально быстро
                  встать на доску. </p>
               <p class="advantages__about">Именно наша методика и наши преподаватели позволили нам пройти аттестацию
                  Федерации серфинга Канарских островов - FEDERACIÓN CANARIA DE SURF. Это означает, что наша школа
                  соответствует всем мировым стандартам. Переаттестация производится ежегодно и это позволяет нам всегда
                  стремиться к улучшению обучения.</p>
            </div>
         </div>
      </div>
   </div>
</section>