<section class="page__blog" id="blog">
   <div class="blog__container _container">
      <div class="blog__content">
         <div class="blog__title">
            <h3 class="title">БЛОГ</h3>
         </div>
      </div>
   </div>
   <div class="slider__wrapper swiper">
      <div class="swiper-wrapper">
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
         <article class="slider__item swiper-slide" style="--bg:url('../img/slider/1.webp')">
            <div class="slider__text">
               <div class="slider__title">ЧТО НЕОБХОДИМО ВЗЯТЬ С <br> СОБОЙ НА СЕРФ ТУР</div>
               <div class="slider__desc">ТОП 20 необходимых вещей для комфортного отдыха и обучения</div>
            </div>
         </article>
      </div>
      <div class="swiper-pagination"></div>
   </div>

</section>