<section class="page__contacts" id="contacts">
   <div class="contacts__container _container">
      <div class="contacts__content">
         <div class="contacts__flex">
            <div class="contacts__item">
               <a href="" class="contacts__link">INSTAGRAM</a>
            </div>
            <div class="contacts__item">
               <a href="" class="contacts__link">FACEBOOK</a>
            </div>
            <div class="contacts__item">
               <a href="" class="contacts__link">YOUTUBE</a>
            </div>
         </div>
      </div>
   </div>
</section>