<section class="page__form">
   <div class="form__container _container">
      <div class="form__title">
         <h3 class="title">ОСТАВИТЬ ЗАЯВКУ</h3>
      </div>
      <div class="form__content">
         <form action="" class="form__form">
            <p class="form__text">Имя</p>
            <input type="text" class="form__input">
            <p class="form__text">Телефон</p>
            <input type="text" class="form__input">
            <p class="form__text">Оставьте сообщение, и мы<br> свяжемся с Вами в ближайшее время</p>
            <input type="text" class="form__input">
            <button class="form__button">ОТПРАВИТЬ</button>
         </form>
         <div class="form__contacts">
            <p class="form__contact">Есть вопрос?<br>
               Вы можете связаться с нами:
            </p>
            <p class="form__contact">WhatsApp, Viber, Telegram <br>

               <a href="tel:34674863788" class="form__link">
                  +3 467 486-37-88</a>
            </p>
            <p class="form__contact">Avenida grandes playas 79, <br>
               Corralejo la Oliva Fuerteventura, <br>
               Spain. 35660</p>
         </div>
      </div>

   </div>
</section>