<section class="page__gallery">
   <div class="gallery__container _container">
      <div class="gallery__content">
         <div class="gallery__title">
            <h3 class="title">ГАЛЕРЕЯ</h3>
         </div>
         <ul class="gallery__nav">
            <li class="gallery__group" data-gallery__id="1">ВСЕ</li>
            <li class="gallery__group" data-gallery__id="2">ТУРИСТЫ</li>
            <li class="gallery__group" data-gallery__id="3">ПРИРОДА</li>
            <li class="gallery__group" data-gallery__id="4">ПРОФИ</li>
         </ul>
         <div class="gallery__grid">
            <article class="gallery__item" data-id='1' style='--bg: url(../../img/gallery/2.webp)'>
            </article>
            <article class="gallery__item" data-id='2' style='--bg: url(../../img/gallery/2.webp)'>
            </article>
            <article class="gallery__item" data-id='2' style='--bg: url(../../img/gallery/1.webp)'>

            </article>
            <article class="gallery__item" data-id='1' style='--bg: url(../../img/gallery/2.webp)'>
            </article>
            <article class="gallery__item" data-id='1' style='--bg: url(../../img/gallery/2.webp)'>
            </article>
            <article class="gallery__item" data-id='3' style='--bg: url(../../img/gallery/1.webp)'>
            </article>
         </div>
         <button class="gallery__button">ПОКАЗАТЬ ЕЩЁ</button>
      </div>
   </div>
</section>