<section class="page__gallery">
   <div class="gallery__container _container">
      <div class="gallery__content">
         <div class="gallery__grid">
            <article class="gallery__item">
               <img src="../../img/gallery/1.webp" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/2.webp" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/" alt="" class="image">
            </article>
            <article class="gallery__item">
               <img src="../../img/gallery/" alt="" class="image">
            </article>

         </div>
      </div>
   </div>
</section>