<section class="page__packages" id="packages">
   <div class="packages__container _container">
      <div class="packages__content">
         <div class="packages__title">
            <h3 class="title">ПАКЕТЫ УСЛУГ</h3>
         </div>
         <div class="packages__grid">
            <article class="packages__item">
               <p class="packages__name">Стандарт</p>
               <ul class="packages__list">
                  <li class="packages__adv">Проживание на вилле 6 ночей </li>
                  <li class="packages__adv">Номер категории стандарт</li>
                  <li class="packages__adv">Экипировка для обучения</li>
                  <li class="packages__adv">Обучение серфингу 5 тренировок по 2 часа</li>
                  <li class="packages__adv">Страховка</li>
                  <li class="packages__adv">Вечеринка с угощениями и дискотекой</li>
               </ul>
               <p class="packages__price">450</p>
            </article>
            <article class="packages__item">
               <p class="packages__name">Все включено</p>
               <ul class="packages__list">
                  <li class="packages__adv">Проживание на вилле 6 ночей </li>
                  <li class="packages__adv">Номер категории стандарт</li>
                  <li class="packages__adv">Экипировка для обучения</li>
                  <li class="packages__adv">Обучение серфингу 5 тренировок по 2 часа</li>
                  <li class="packages__adv">Страховка</li>
                  <li class="packages__adv">Вечеринка с угощениями и дискотекой</li>
               </ul>
               <p class="packages__price">450</p>
            </article>
            <article class="packages__item">
               <p class="packages__name">Профи</p>
               <ul class="packages__list">
                  <li class="packages__adv">Проживание на вилле 6 ночей </li>
                  <li class="packages__adv">Номер категории стандарт</li>
                  <li class="packages__adv">Экипировка для обучения</li>
                  <li class="packages__adv">Экипировка для обучения</li>
                  <li class="packages__adv">Обучение серфингу 5 тренировок по 2 часа</li>
                  <li class="packages__adv">Страховка</li>
                  <li class="packages__adv">Вечеринка с угощениями и дискотекой</li>
               </ul>
               <p class="packages__price">450</p>
            </article>
         </div>
      </div>
   </div>
</section>