<section class="page__team" id="team">
   <div class="team__container _container">
      <div class='team__content'>
         <div class="team__title">
            <h3 class="title">НАША КОМАНДА</h3>
         </div>
         <div class="team__grid">
            <article class="team__item">
               <img src="../../img/team/1.webp" alt="" class="team__img">
               <p class="team__name">Mike</p>
               <p class="team__desc">Главный инстуктор</p>
            </article>
            <article class="team__item">
               <img src="../../img/team/2.webp" alt="" class="team__img">
               <p class="team__name">Mary</p>
               <p class="team__desc">инстуктор</p>
            </article>
            <article class="team__item">
               <img src="../../img/team/3.webp" alt="" class="team__img">
               <p class="team__name">Ольга</p>
               <p class="team__desc">инстуктор</p>
            </article>
         </div>
      </div>
   </div>
</section>