<section class="page__video">
   <div class="video__container _container">
      <div class="video__content">
         <img src="../../img/video/video.webp" class="video__video image"></img>
         <ul class="video__list">
            <li class="video__item">
               <p class="video__number">450</p>
               <p class="video__desc">туристов</p>
            </li>
            <li class="video__item">
               <p class="video__number">2500</p>
               <p class="video__desc">часов катания</p>
            </li>
            <li class="video__item">
               <p class="video__number">10</p>
               <p class="video__desc">проф. тренеров</p>
            </li>
            <li class="video__item">
               <p class="video__number">365</p>
               <p class="video__desc">дней в году</p>
            </li>
         </ul>
      </div>
   </div>
</section>