@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: 'Manrope', sans-serif;background: #fbfbfb;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
._container {
   max-width: 1200px;
   margin: 0 auto;
}

.image {
   max-width: 100%;
}


.main {
   flex: 1 1 100%;
}

.page {
   &__home {
   }
   
	&__about {
	}
   &__advantages {
      background: #f2f2f2;
   }
   &__trainers {
   }
   &__gallery {
      margin-bottom: 200px;
   }
   &__quote {
      background: #F8F8F8;
   }

}

.page__home,.header {
  background-image: var(--bg) ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; /* !!! */
  background-position: center center;   
   background-size: cover;
   // position: absolute;      
   // top: 0;
   // right: 0;
   height: 100%;
   width: 100%;
}

.hidden {
   display: none;
}
.title {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 56px;
   letter-spacing: 0.6px;
   color: #01353E;
   text-align: center;
   position: relative;
   display: inline-block;
   &::after{
      content: '/';
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 600;
      font-size: 72px;
      line-height: 85px;
      letter-spacing: 0.6px;
      color: #00B2A0;
      position: absolute;
      top:0;
      right: -40px;
   }  
}

.horisontal {
   grid-column: span 2;
}
.vertical {
   grid-row: span 2;
}
.big {
   grid-row: span 2;
   grid-column: span 2;
}